@media screen and (max-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        position: relative;
        z-index: auto;
    }
    h2, h3, h4, h5, h6 {
        font-family: "Oswald", sans-serif;
        color: #191919;
        line-height: 1.4;
        font-weight: 500;
    }
    a, a:active, a:focus, a:hover {
        font-family: "Open Sans", sans-serif;
        color: #191919;
        text-decoration: none;
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        outline: none;
        font-size: 16px;
        font-weight: 500;
    }
    li {
        list-style: none;
    }
    p {
        line-height: 1.8;
        color: #6e6e6e;
        font-size: 16px;
        font-weight: 400;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    ul li {
        margin: 0;
        padding: 0;
    }
    .bg-overlay {
        position: relative;
        z-index: 1;
    }
    .bg-overlay::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.65);
    }
    .bg-img {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .jarallax {
        position: relative;
        z-index: 0;
    }
    .jarallax>.jarallax-img {
        position: absolute;
        object-fit: cover;
        font-family: 'object-fit: cover';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .mfp-iframe-holder .mfp-close {
        top: 0;
        width: 30px;
        height: 30px;
        background-color: #dc2878;
        text-align: center;
        right: 0;
        padding-right: 0;
        line-height: 32px;
    }
    .bg-transparent {
        background-color: transparent !important;
    }
    .bg-gray {
        background-color: #e7f2fd !important;
    }
    textarea:focus, input:focus {
        outline: none;
    }
    .mt-15 {
        margin-top: 15px; }
      
      .mt-30 {
        margin-top: 30px; }
      
      .mt-40 {
        margin-top: 40px; }
      
      .mt-50 {
        margin-top: 50px; }
      
      .mt-70 {
        margin-top: 70px; }
      
      .mt-80 {
        margin-top: 80px; }
      
      .mt-100 {
        margin-top: 100px; }
      
      .mt-150 {
        margin-top: 150px; }
      
      .mr-15 {
        margin-right: 15px; }
      
      .mr-30 {
        margin-right: 30px; }
      
      .mr-50 {
        margin-right: 50px; }
      
      .mr-100 {
        margin-right: 100px; }
      
      .mb-15 {
        margin-bottom: 15px; }
      
      .mb-30 {
        margin-bottom: 30px; }
      
      .mb-40 {
        margin-bottom: 40px; }
      
      .mb-50 {
        margin-bottom: 50px; }
      
      .mb-60 {
        margin-bottom: 60px; }
      
      .mb-70 {
        margin-bottom: 70px; }
      
      .mb-80 {
        margin-bottom: 80px; }
      
      .mb-100 {
        margin-bottom: 100px; }
      
      .ml-15 {
        margin-left: 15px; }
      
      .ml-30 {
        margin-left: 30px; }
      
      .ml-50 {
        margin-left: 50px; }
      
      .ml-100 {
        margin-left: 100px; }
      
      .pt-50 {
        padding-top: 50px !important; }
      
      .section-padding-80 {
        padding-top: 80px;
        padding-bottom: 80px; }
      
      .section-padding-0-80 {
        padding-top: 0;
        padding-bottom: 80px; }
      
      .section-padding-80-0 {
        padding-top: 80px;
        padding-bottom: 0; }
      
}

@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        position: relative;
        z-index: auto;
    }
    h2, h3, h4, h5, h6 {
        font-family: "Oswald", sans-serif;
        color: #191919;
        line-height: 1.4;
        font-weight: 500;
    }
    a, a:active, a:focus, a:hover {
        font-family: "Open Sans", sans-serif;
        color: #191919;
        text-decoration: none;
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        outline: none;
        font-size: 16px;
        font-weight: 500;
    }
    li {
        list-style: none;
    }
    p {
        line-height: 1.8;
        color: #6e6e6e;
        font-size: 16px;
        font-weight: 400;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    ul li {
        margin: 0;
        padding: 0;
    }
    .bg-overlay {
        position: relative;
        z-index: 1;
    }
    .bg-overlay::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.65);
    }
    .bg-img {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .jarallax {
        position: relative;
        z-index: 0;
    }
    .jarallax>.jarallax-img {
        position: absolute;
        object-fit: cover;
        font-family: 'object-fit: cover';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .mfp-iframe-holder .mfp-close {
        top: 0;
        width: 30px;
        height: 30px;
        background-color: #dc2878;
        text-align: center;
        right: 0;
        padding-right: 0;
        line-height: 32px;
    }
    .bg-transparent {
        background-color: transparent !important;
    }
    .bg-gray {
        background-color: #e7f2fd !important;
    }
    textarea:focus, input:focus {
        outline: none;
    }
    .mt-15 {
        margin-top: 15px; }
      
      .mt-30 {
        margin-top: 30px; }
      
      .mt-40 {
        margin-top: 40px; }
      
      .mt-50 {
        margin-top: 50px; }
      
      .mt-70 {
        margin-top: 70px; }
      
      .mt-80 {
        margin-top: 80px; }
      
      .mt-100 {
        margin-top: 100px; }
      
      .mt-150 {
        margin-top: 150px; }
      
      .mr-15 {
        margin-right: 15px; }
      
      .mr-30 {
        margin-right: 30px; }
      
      .mr-50 {
        margin-right: 50px; }
      
      .mr-100 {
        margin-right: 100px; }
      
      .mb-15 {
        margin-bottom: 15px; }
      
      .mb-30 {
        margin-bottom: 30px; }
      
      .mb-40 {
        margin-bottom: 40px; }
      
      .mb-50 {
        margin-bottom: 50px; }
      
      .mb-60 {
        margin-bottom: 60px; }
      
      .mb-70 {
        margin-bottom: 70px; }
      
      .mb-80 {
        margin-bottom: 80px; }
      
      .mb-100 {
        margin-bottom: 100px; }
      
      .ml-15 {
        margin-left: 15px; }
      
      .ml-30 {
        margin-left: 30px; }
      
      .ml-50 {
        margin-left: 50px; }
      
      .ml-100 {
        margin-left: 100px; }
      
      .pt-50 {
        padding-top: 50px !important; }
      
      .section-padding-80 {
        padding-top: 80px;
        padding-bottom: 80px; }
      
      .section-padding-0-80 {
        padding-top: 0;
        padding-bottom: 80px; }
      
      .section-padding-80-0 {
        padding-top: 80px;
        padding-bottom: 0; }
      
}

@media screen and (max-width: 425px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        position: relative;
        z-index: auto;
    }
    h2, h3, h4, h5, h6 {
        font-family: "Oswald", sans-serif;
        color: #191919;
        line-height: 1.4;
        font-weight: 500;
    }
    a, a:active, a:focus, a:hover {
        font-family: "Open Sans", sans-serif;
        color: #191919;
        text-decoration: none;
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        outline: none;
        font-size: 16px;
        font-weight: 500;
    }
    li {
        list-style: none;
    }
    p {
        line-height: 1.8;
        color: #6e6e6e;
        font-size: 16px;
        font-weight: 400;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    ul li {
        margin: 0;
        padding: 0;
    }
    .bg-overlay {
        position: relative;
        z-index: 1;
    }
    .bg-overlay::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.65);
    }
    .bg-img {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .jarallax {
        position: relative;
        z-index: 0;
    }
    .jarallax>.jarallax-img {
        position: absolute;
        object-fit: cover;
        font-family: 'object-fit: cover';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .mfp-iframe-holder .mfp-close {
        top: 0;
        width: 30px;
        height: 30px;
        background-color: #dc2878;
        text-align: center;
        right: 0;
        padding-right: 0;
        line-height: 32px;
    }
    .bg-transparent {
        background-color: transparent !important;
    }
    .bg-gray {
        background-color: #e7f2fd !important;
    }
    textarea:focus, input:focus {
        outline: none;
    }
    .mt-15 {
        margin-top: 15px; }
      
      .mt-30 {
        margin-top: 30px; }
      
      .mt-40 {
        margin-top: 40px; }
      
      .mt-50 {
        margin-top: 50px; }
      
      .mt-70 {
        margin-top: 70px; }
      
      .mt-80 {
        margin-top: 80px; }
      
      .mt-100 {
        margin-top: 100px; }
      
      .mt-150 {
        margin-top: 150px; }
      
      .mr-15 {
        margin-right: 15px; }
      
      .mr-30 {
        margin-right: 30px; }
      
      .mr-50 {
        margin-right: 50px; }
      
      .mr-100 {
        margin-right: 100px; }
      
      .mb-15 {
        margin-bottom: 15px; }
      
      .mb-30 {
        margin-bottom: 30px; }
      
      .mb-40 {
        margin-bottom: 40px; }
      
      .mb-50 {
        margin-bottom: 50px; }
      
      .mb-60 {
        margin-bottom: 60px; }
      
      .mb-70 {
        margin-bottom: 70px; }
      
      .mb-80 {
        margin-bottom: 80px; }
      
      .mb-100 {
        margin-bottom: 100px; }
      
      .ml-15 {
        margin-left: 15px; }
      
      .ml-30 {
        margin-left: 30px; }
      
      .ml-50 {
        margin-left: 50px; }
      
      .ml-100 {
        margin-left: 100px; }
      
      .pt-50 {
        padding-top: 50px !important; }
      
      .section-padding-80 {
        padding-top: 80px;
        padding-bottom: 80px; }
      
      .section-padding-0-80 {
        padding-top: 0;
        padding-bottom: 80px; }
      
      .section-padding-80-0 {
        padding-top: 80px;
        padding-bottom: 0; }
      
}

@media screen and (max-width: 375px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        position: relative;
        z-index: auto;
    }
    h2, h3, h4, h5, h6 {
        font-family: "Oswald", sans-serif;
        color: #191919;
        line-height: 1.4;
        font-weight: 500;
    }
    a, a:active, a:focus, a:hover {
        font-family: "Open Sans", sans-serif;
        color: #191919;
        text-decoration: none;
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        outline: none;
        font-size: 16px;
        font-weight: 500;
    }
    li {
        list-style: none;
    }
    p {
        line-height: 1.8;
        color: #6e6e6e;
        font-size: 16px;
        font-weight: 400;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    ul li {
        margin: 0;
        padding: 0;
    }
    .bg-overlay {
        position: relative;
        z-index: 1;
    }
    .bg-overlay::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.65);
    }
    .bg-img {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .jarallax {
        position: relative;
        z-index: 0;
    }
    .jarallax>.jarallax-img {
        position: absolute;
        object-fit: cover;
        font-family: 'object-fit: cover';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .mfp-iframe-holder .mfp-close {
        top: 0;
        width: 30px;
        height: 30px;
        background-color: #dc2878;
        text-align: center;
        right: 0;
        padding-right: 0;
        line-height: 32px;
    }
    .bg-transparent {
        background-color: transparent !important;
    }
    .bg-gray {
        background-color: #e7f2fd !important;
    }
    textarea:focus, input:focus {
        outline: none;
    }
    .mt-15 {
        margin-top: 15px; }
      
      .mt-30 {
        margin-top: 30px; }
      
      .mt-40 {
        margin-top: 40px; }
      
      .mt-50 {
        margin-top: 50px; }
      
      .mt-70 {
        margin-top: 70px; }
      
      .mt-80 {
        margin-top: 80px; }
      
      .mt-100 {
        margin-top: 100px; }
      
      .mt-150 {
        margin-top: 150px; }
      
      .mr-15 {
        margin-right: 15px; }
      
      .mr-30 {
        margin-right: 30px; }
      
      .mr-50 {
        margin-right: 50px; }
      
      .mr-100 {
        margin-right: 100px; }
      
      .mb-15 {
        margin-bottom: 15px; }
      
      .mb-30 {
        margin-bottom: 30px; }
      
      .mb-40 {
        margin-bottom: 40px; }
      
      .mb-50 {
        margin-bottom: 50px; }
      
      .mb-60 {
        margin-bottom: 60px; }
      
      .mb-70 {
        margin-bottom: 70px; }
      
      .mb-80 {
        margin-bottom: 80px; }
      
      .mb-100 {
        margin-bottom: 100px; }
      
      .ml-15 {
        margin-left: 15px; }
      
      .ml-30 {
        margin-left: 30px; }
      
      .ml-50 {
        margin-left: 50px; }
      
      .ml-100 {
        margin-left: 100px; }
      
      .pt-50 {
        padding-top: 50px !important; }
      
      .section-padding-80 {
        padding-top: 80px;
        padding-bottom: 80px; }
      
      .section-padding-0-80 {
        padding-top: 0;
        padding-bottom: 80px; }
      
      .section-padding-80-0 {
        padding-top: 80px;
        padding-bottom: 0; }
      
}

@media screen and (max-width: 320px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        position: relative;
        z-index: auto;
    }
    h2, h3, h4, h5, h6 {
        font-family: "Oswald", sans-serif;
        color: #191919;
        line-height: 1.4;
        font-weight: 500;
    }
    a, a:active, a:focus, a:hover {
        font-family: "Open Sans", sans-serif;
        color: #191919;
        text-decoration: none;
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        outline: none;
        font-size: 16px;
        font-weight: 500;
    }
    li {
        list-style: none;
    }
    p {
        line-height: 1.8;
        color: #6e6e6e;
        font-size: 16px;
        font-weight: 400;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    ul li {
        margin: 0;
        padding: 0;
    }
    .bg-overlay {
        position: relative;
        z-index: 1;
    }
    .bg-overlay::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.65);
    }
    .bg-img {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .jarallax {
        position: relative;
        z-index: 0;
    }
    .jarallax>.jarallax-img {
        position: absolute;
        object-fit: cover;
        font-family: 'object-fit: cover';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .mfp-iframe-holder .mfp-close {
        top: 0;
        width: 30px;
        height: 30px;
        background-color: #dc2878;
        text-align: center;
        right: 0;
        padding-right: 0;
        line-height: 32px;
    }
    .bg-transparent {
        background-color: transparent !important;
    }
    .bg-gray {
        background-color: #e7f2fd !important;
    }
    textarea:focus, input:focus {
        outline: none;
    }
    .mt-15 {
        margin-top: 15px; }
      
      .mt-30 {
        margin-top: 30px; }
      
      .mt-40 {
        margin-top: 40px; }
      
      .mt-50 {
        margin-top: 50px; }
      
      .mt-70 {
        margin-top: 70px; }
      
      .mt-80 {
        margin-top: 80px; }
      
      .mt-100 {
        margin-top: 100px; }
      
      .mt-150 {
        margin-top: 150px; }
      
      .mr-15 {
        margin-right: 15px; }
      
      .mr-30 {
        margin-right: 30px; }
      
      .mr-50 {
        margin-right: 50px; }
      
      .mr-100 {
        margin-right: 100px; }
      
      .mb-15 {
        margin-bottom: 15px; }
      
      .mb-30 {
        margin-bottom: 30px; }
      
      .mb-40 {
        margin-bottom: 40px; }
      
      .mb-50 {
        margin-bottom: 50px; }
      
      .mb-60 {
        margin-bottom: 60px; }
      
      .mb-70 {
        margin-bottom: 70px; }
      
      .mb-80 {
        margin-bottom: 80px; }
      
      .mb-100 {
        margin-bottom: 100px; }
      
      .ml-15 {
        margin-left: 15px; }
      
      .ml-30 {
        margin-left: 30px; }
      
      .ml-50 {
        margin-left: 50px; }
      
      .ml-100 {
        margin-left: 100px; }
      
      .pt-50 {
        padding-top: 50px !important; }
      
      .section-padding-80 {
        padding-top: 80px;
        padding-bottom: 80px; }
      
      .section-padding-0-80 {
        padding-top: 0;
        padding-bottom: 80px; }
      
      .section-padding-80-0 {
        padding-top: 80px;
        padding-bottom: 0; }
      
}